@font-face {
    font-family: 'Exo Bold';
    src: url('../fonts/exo/Exo-ExtraBold.ttf') format('truetype');
    /* Add more src lines for different file formats if necessary */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo Regular';
    src: url('../fonts/exo/Exo-Regular.ttf') format('truetype');
    /* Add more src lines for different file formats if necessary */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo Thin';
    src: url('../fonts/exo/Exo-Thin.ttf') format('truetype');
    /* Add more src lines for different file formats if necessary */
    font-weight: normal;
    font-style: normal;
}